MQSTATS_DEVICE_NAME=vps_3
MQSTATS_BASE_TOPIC=mqstats
MQSTATS_NICS=en3,en1,en2,en0,en4
MQSTATS_DISKS=root=/

MQSTATS_MQTT_HOST=localhost
MQSTATS_MQTT_PORT=1883
MQSTATS_MQTT_USERNAME=
MQSTATS_MQTT_PASSWORD=
MQSTATS_SENSOR_INTERVAL=2
